@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    font-family: "poppins",sans-serif;
    background: rgb(18, 15, 9);
    
}
body{
    font-family: "Roboto Serif", serif;
    font-weight: 300;
    font-style: normal;
    top: 0;
    left: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
.sign{
    transform-style: preserve-3d;
    transform: perspective(300px);
}
.sign:hover{
    transform:perspective(300px) translateZ(10px) ;
}
.slide{
    transform-style: preserve-3d;
    transform: perspective(300px);
    transition:0.1s all ;
}
.slide:hover{
    transform: perspective(300px) scale(1.2);
}
